version: '3.8'

services:
  authentication:
    container_name: authentication
    build:
      context: .
      dockerfile: Authentication/Dockerfile
    image: hossenmurad/authentication
    networks:
      - app-network
    ports:
      - "5001:8080"

  gateway:
    container_name: gateway
    environment:
      - INSTANCE_NAME=gateway1
    build:
      context: .
      dockerfile: Gateway/Dockerfile
    image: hossenmurad/gateway
    networks:
      - app-network
    ports:
      - "5000:8080"
    depends_on:
      - authentication

  gateway2:
    container_name: gateway2
    environment:
      - INSTANCE_NAME=gateway2
    build:
      context: .
      dockerfile: Gateway/Dockerfile
    image: hossenmurad/gateway
    networks:
      - app-network
    ports:
      - "5003:8080"
    depends_on:
      - authentication 

  catalog:
    container_name: catalog
    build:
      context: .
      dockerfile: Catalog/Dockerfile
    image: hossenmurad/catalog
    networks:
      - app-network
    ports:
      - "5002:8080" 

  redis:
    image: redis
    container_name: redis-server
    networks:
      - app-network
    ports:
      - "6379:6379" 

  nginx:
    image: nginx:latest
    container_name: nginx-loadbalancer
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - gateway
      - gateway2
    networks:
      - app-network


networks:
  app-network:
    driver: bridge
